@use 'sass:color';
@use '../abstracts' as *;

/* -------------------------------------------------------------------------- */
/*                              Components/Button                             */
/* -------------------------------------------------------------------------- */
.btn {
  height: rem(50px);
  border-radius: $spacing-100;
  // border: 1px solid color.adjust($color-grey, $lightness: 30%);
  border: 1px solid color.adjust($color-cream, $blackness: 30%);

  background-color: $color-cream;
  color: $color-black;
  font: $text-preset-2;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacing-100;
}

.btn--primary {
  background-color: $color-green-500;
  color: $color-white;

  svg {
    fill: #fff;
  }
}
