@use 'sass:string';
@use 'sass:map';
// @use 'sass:list';
@use 'functions';

$font-fraunces: 'Fraunces';
$font-montserrat: 'Montserrat';

// /// # Text Presets
// ///
// /// Wrapping the slash character (`/`) in interpolation syntax so the code can work.
// /// Without interpolation syntax, it doesn't work.

// @debug functions.rem(32px);

$text-preset-1: (
  'font': (
    700 functions.rem(32px) #{'/'} 1 $font-fraunces,
    sans-serif,
  ),
  'letter-spacing': 0,
);
$text-preset-2: (
  'font': (
    700 functions.rem(14px) #{'/'} 1.1 $font-montserrat,
    sans-serif,
  ),
  'letter-spacing': 0,
);
$text-preset-3: (
  'font': (
    500 functions.rem(14px) #{'/'} 1.6 $font-montserrat,
    sans-serif,
  ),
  'letter-spacing': 0,
);
$text-preset-4: (
  'font': (
    500 functions.rem(12px) #{'/'} 1.2 $font-montserrat,
    sans-serif,
  ),
  'letter-spacing': 5px,
);
$text-preset-5: (
  'font': (
    500 functions.rem(13px) #{'/'} 1.2 $font-montserrat,
    sans-serif,
  ),
  'letter-spacing': 0,
);

@mixin apply-text-preset($preset) {
  font: map.get($preset, 'font');
  letter-spacing: map.get($preset, 'letter-spacing');
}
