@use '../abstracts' as *;

/* -------------------------------------------------------------------------- */
/*                                    Base                                    */
/* -------------------------------------------------------------------------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: $color-cream;
}

*:focus-visible {
  outline: rem(2px) solid $color-black;
  border-radius: rem(2px);
}
