@use '../abstracts' as *;

/* -------------------------------------------------------------------------- */
/*                                    Base                                    */
/* -------------------------------------------------------------------------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: $color-cream;

  @include media-up-to($medium) {
    min-height: 100vh;

    /* To center .container */
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

main {
  max-width: fit-content;
}

*:focus-visible {
  outline: rem(2px) solid $color-black;
  border-radius: rem(2px);
}
