@use 'sass:color';
@use '../abstracts' as *;

/* -------------------------------------------------------------------------- */
/*                                 Typography                                 */
/* -------------------------------------------------------------------------- */
body {
  // font: abstracts.$text-preset-3;
  color: $color-grey;
  // font-family: Arial, Helvetica, sans-serif;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

// h2 {
// font: abstracts.$text-preset-1;
// }

.attribution {
  & {
    font-size: rem(11px);
    color: color.adjust($color-grey, $blackness: 20%);
  }

  &__a {
    // color: hsl(228, 45%, 44%);
    // color: inherit;
    color: color.adjust($color-grey, $blackness: 50%);
    font-weight: 900;
  }
}
