@use '../abstracts' as *;

.attribution {
  /// Using CSS variables to store the spacing values that change between layouts.
  --spacing: #{$spacing-200};
  @include respond-to($tablet) {
    --spacing: #{$spacing-300};
  }

  /// Wrap with `& {}` so it won't throw `mixed decls` warning.
  /// Because these declarations are after nested rule `@include... {}`.
  /// Source: https://sass-lang.com/documentation/breaking-changes/mixed-decls/.
  & {
    position: absolute; /// Absolute from .container
    left: 0;
    right: 0;
    top: calc(100% + var(--spacing));

    text-align: center;
  }
}
