@use '../abstracts' as *;

.attribution {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + $spacing-200);

  font-size: 11px;
  text-align: center;

  color: darken($color: $color-grey, $amount: 10%);

  &__a {
    // color: hsl(228, 45%, 44%);
    // color: inherit;
    color: darken($color-grey, $amount: 20%);
    font-weight: bolder;
  }
}
