@use 'sass:color';
@use '../abstracts' as *;

.attribution {
  position: absolute;
  left: 0;
  right: 0;

  top: calc(100% + var(--spacing));

  font-size: 11px;
  text-align: center;

  color: color.adjust($color-grey, $blackness: 10%);

  --spacing: #{$spacing-200};
  @include respond-to($tablet) {
    --spacing: #{$spacing-300};
  }

  &__a {
    // color: hsl(228, 45%, 44%);
    // color: inherit;
    color: color.adjust($color-grey, $blackness: 50%);
    font-weight: bolder;
  }
}
