@use '../abstracts' as *;

/* -------------------------------------------------------------------------- */
/*                       Components/Product Preview Card                      */
/* -------------------------------------------------------------------------- */
.product-preview-card {
  border-radius: rem($spacing-100);
  background-color: $color-white;
  overflow: hidden;

  // &__img-half {
  // }

  &__text-half /* container */ {
    padding: $spacing-400;

    display: flex;
    flex-direction: column;
    gap: rem($spacing-300);
  }

  //* ---------------------------- Inside text-half ---------------------------- */
  &__text-section /* container */ {
    display: flex;
    flex-direction: column;
    gap: rem($spacing-300);
  }

  &__prices {
    display: flex;
    align-items: center;
    gap: rem($spacing-200);

    s {
      @include text-preset($text-5);
    }
  }

  &__price {
    @include text-preset($text-1);
    color: $color-green-500;
  }

  //* --------------------------- Inside text-content -------------------------- */

  &__title {
    @include text-preset($text-1);
    color: $color-black;
  }

  // &__ribbon {
  // font: $text-preset-4;
  // letter-spacing: 5px;
  // }

  &__description {
    @include text-preset($text-3);
  }

  //* -------------------------------------------------------------------------- */

  @include media-up-to($medium) {
    width: rem(600px);
    display: flex;

    &__img-half {
      width: 50%;

      img {
        height: 100%;
      }
    }

    &__text-half {
      width: 50%;
      gap: rem($spacing-400);
    }
  }
}
