@use '../abstracts' as *;

/* -------------------------------------------------------------------------- */
/*                           Components/Ribbon text                           */
/* -------------------------------------------------------------------------- */
.ribbon-text {
  font: $text-preset-4;
  letter-spacing: 5px;
  text-transform: uppercase;
}
