@use '../abstracts' as *;

body {
  @include media-up-to($medium) {
    min-height: 100vh;

    /* To center .container */
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
